<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/casa.png">
  <link rel="stylesheet" href="/stylesheets/styleResultados.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="/stylesheets/styleFavoritos.css">
  <title>Favoritos</title>
</head>

<body>

  <% include componentes/header %>



    <main class="contenedor-principal">
      

      <% if (propiedadesFavoritas.length===0) { %>
        <h1 class="titulo">Favoritos</h1>
        <div class="empty-favorites">
          <div class="cupid-scene">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="736.000000pt" height="736.000000pt"
              viewBox="0 0 736.000000 736.000000" preserveAspectRatio="xMidYMid meet">

              <g transform="translate(0.000000,736.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                <path d="M2847 7120 c-16 -5 -59 -27 -95 -49 -37 -21 -86 -44 -109 -50 -24 -6
-60 -15 -81 -21 -20 -5 -64 -32 -97 -61 -33 -28 -94 -67 -135 -87 -75 -37 -75
-38 -115 -117 -22 -44 -67 -118 -100 -163 -33 -46 -75 -104 -92 -129 -26 -36
-33 -55 -33 -93 0 -26 -7 -67 -15 -90 -8 -23 -15 -60 -15 -82 0 -21 7 -55 15
-75 20 -48 19 -89 -6 -159 -23 -65 -28 -181 -11 -225 6 -15 22 -38 35 -52 19
-18 27 -40 32 -83 17 -151 37 -214 69 -214 24 0 25 26 4 107 -22 81 -20 113 5
113 23 0 63 -37 81 -75 16 -33 16 -37 -5 -85 -26 -61 -16 -82 40 -80 20 1 41
2 48 1 21 -2 60 -51 72 -90 17 -58 46 -77 131 -89 41 -6 84 -14 95 -17 17 -5
24 1 35 27 22 48 44 43 50 -12 5 -44 6 -45 48 -51 32 -4 50 -14 76 -42 22 -24
43 -37 59 -37 13 0 44 -7 68 -15 69 -25 129 5 129 64 0 30 -17 34 -40 11 -24
-24 -60 -27 -60 -5 0 8 18 28 40 43 35 24 40 31 35 57 -9 50 -21 51 -62 5 -39
-43 -90 -76 -101 -66 -3 4 4 26 15 50 12 24 19 47 16 50 -4 3 -21 6 -40 6 -48
0 -53 24 -12 66 l33 34 32 -36 c23 -25 40 -35 56 -32 21 3 23 9 28 84 3 47 11
88 19 98 22 26 73 19 146 -20 59 -32 75 -36 121 -32 71 6 98 27 139 108 39 77
169 278 193 297 13 10 19 10 32 -2 56 -50 123 -32 174 47 32 50 183 226 219
257 38 30 12 190 -36 230 -23 19 -21 45 6 77 42 48 78 8 41 -45 -16 -22 -15
-24 15 -51 28 -26 101 -161 101 -187 0 -6 -16 -23 -36 -38 -55 -42 -82 -125
-41 -125 7 0 21 16 30 35 9 20 27 39 39 44 35 13 40 -24 11 -75 -12 -22 -23
-50 -23 -61 0 -28 -9 -33 -36 -21 -30 14 -38 6 -30 -27 9 -36 57 -84 86 -86
60 -3 61 -2 58 49 -3 44 -2 47 24 50 30 4 63 -26 73 -66 4 -15 19 -59 35 -98
26 -64 28 -79 23 -153 -7 -101 6 -106 47 -17 29 66 56 91 85 80 8 -4 63 -60
121 -126 148 -168 140 -186 -88 -196 -116 -4 -130 -3 -149 14 -19 17 -20 26
-15 82 4 34 3 62 -2 62 -4 0 -18 -13 -30 -29 -13 -18 -33 -31 -49 -33 -19 -2
-37 -16 -58 -45 -16 -23 -35 -42 -40 -42 -25 -2 -85 -65 -96 -101 -12 -38 -6
-90 10 -90 5 0 25 20 45 45 21 25 43 45 50 45 8 0 19 -13 26 -30 7 -16 15 -30
19 -30 21 0 31 31 31 97 0 58 3 75 16 80 8 3 22 -1 31 -10 14 -13 14 -21 -1
-79 -9 -35 -16 -79 -16 -97 0 -87 -100 -173 -233 -201 -32 -6 -97 -25 -144
-41 -100 -33 -142 -35 -303 -13 -135 18 -208 48 -290 118 -90 77 -139 106
-182 106 -24 0 -38 -5 -38 -13 0 -7 -11 -29 -25 -49 -27 -40 -31 -68 -15 -98
20 -37 43 -41 99 -14 62 30 78 28 196 -27 98 -46 336 -109 411 -109 35 0 81
-11 143 -35 49 -19 96 -35 104 -35 7 0 26 14 42 30 35 36 43 37 51 5 8 -34 30
-32 37 5 6 27 13 31 92 55 48 15 89 24 92 22 11 -11 -12 -30 -63 -53 -30 -13
-54 -28 -54 -33 0 -20 29 -18 70 5 87 50 97 22 10 -31 -33 -20 -60 -40 -60
-45 0 -4 18 -6 40 -3 22 3 40 3 40 0 0 -4 -20 -18 -45 -33 -25 -14 -45 -30
-45 -35 0 -5 20 -8 45 -6 49 2 60 -12 24 -30 -18 -9 -24 -21 -24 -44 0 -35 0
-35 -99 -80 -89 -41 -134 -82 -202 -185 -30 -46 -56 -84 -58 -84 -2 0 -22 15
-44 33 -52 44 -283 127 -316 114 -46 -18 6 -53 110 -74 99 -20 154 -45 196
-90 18 -19 41 -44 51 -54 10 -11 22 -17 26 -14 5 3 22 33 39 68 38 82 79 128
155 174 134 80 204 144 221 200 4 11 11 46 16 78 6 34 18 67 33 85 13 15 27
46 30 68 5 31 24 59 89 131 45 50 87 91 94 91 6 0 17 -7 24 -15 18 -22 28 -18
23 8 -3 17 12 51 48 110 49 79 69 102 69 78 0 -5 -12 -34 -26 -65 -14 -31 -24
-63 -22 -73 2 -9 28 -26 63 -39 53 -21 71 -23 155 -18 81 5 98 4 109 -10 20
-24 55 -19 103 13 29 20 88 42 178 66 74 20 136 38 139 40 4 5 -44 25 -60 25
-5 0 -9 4 -9 10 0 10 179 70 210 70 12 0 25 -10 32 -25 l11 -25 241 0 c133 0
247 -4 255 -9 12 -8 13 -14 3 -36 -17 -36 -15 -45 8 -45 25 0 46 32 61 95 16
62 34 85 68 85 48 0 101 -57 101 -109 0 -28 -17 -35 -52 -20 -28 11 -32 10
-49 -12 -28 -37 -25 -77 7 -85 40 -10 90 19 125 73 29 46 30 51 24 124 -5 51
-3 79 4 83 41 26 183 12 195 -19 3 -8 -11 -47 -31 -86 -35 -70 -36 -72 -30
-162 7 -107 -8 -154 -62 -200 -38 -32 -42 -32 -83 -11 -28 14 -40 15 -98 4
-60 -11 -70 -11 -93 5 -25 16 -28 16 -79 -7 -34 -16 -62 -38 -78 -61 -15 -22
-49 -49 -85 -69 -33 -17 -89 -49 -125 -70 -60 -37 -65 -38 -77 -22 -7 10 -13
24 -13 32 0 7 -8 12 -17 10 -13 -2 -19 -14 -21 -41 -4 -44 -22 -48 -58 -12
-30 30 -30 30 -37 6 -7 -28 -97 -26 -154 4 -37 20 -48 22 -76 13 -17 -6 -45
-10 -61 -10 -16 1 -44 -8 -62 -19 -29 -18 -38 -19 -73 -8 -39 12 -41 11 -82
-25 -28 -26 -46 -35 -57 -30 -31 13 -97 34 -125 39 -27 5 -27 6 -26 78 1 39
-4 85 -10 102 -8 19 -10 51 -6 87 6 52 5 59 -19 83 -24 24 -31 25 -129 25
-110 0 -137 -10 -123 -46 5 -14 16 -15 65 -10 86 10 141 -16 120 -55 -15 -29
-10 -47 22 -80 40 -41 51 -73 43 -128 -12 -86 -26 -100 -126 -131 -63 -19 -81
-51 -111 -198 -46 -220 -114 -400 -187 -490 -51 -65 -124 -107 -265 -158 -198
-70 -215 -74 -271 -68 -44 6 -59 2 -103 -21 l-51 -28 -56 19 -56 19 -41 -23
-42 -23 -33 41 c-25 30 -41 40 -63 40 -38 0 -38 -24 1 -58 59 -52 18 -72 -55
-27 -65 40 -145 29 -172 -25 -24 -49 18 -74 83 -50 29 11 292 -12 338 -30 13
-5 35 -23 49 -41 20 -26 29 -31 50 -25 16 4 29 17 35 36 13 37 20 37 48 3 l23
-28 16 38 c19 46 35 40 35 -14 0 -44 5 -48 28 -19 16 20 19 20 61 5 57 -20 60
-20 73 13 l11 27 7 -33 c10 -42 16 -48 35 -32 12 10 15 23 10 51 -9 51 1 76
35 94 47 24 50 20 50 -59 0 -51 4 -77 14 -85 22 -18 31 5 31 74 0 47 3 60 15
60 12 0 15 -12 14 -57 -2 -76 -54 -186 -117 -249 -61 -60 -139 -97 -322 -154
-132 -41 -241 -78 -297 -100 -29 -11 -21 -25 15 -25 41 0 296 73 366 105 29
14 65 25 79 25 24 0 25 -1 7 -20 -10 -11 -43 -29 -73 -40 -93 -35 -139 -80
-98 -96 7 -3 100 38 205 91 171 85 198 102 255 160 35 36 68 65 74 65 5 0 12
-18 16 -41 5 -31 10 -40 24 -37 12 2 20 20 29 62 12 62 24 83 43 71 9 -5 10
-35 5 -109 -9 -129 1 -158 49 -154 19 1 41 -4 49 -11 13 -10 18 -8 31 11 19
29 7 85 -24 113 -16 15 -20 31 -20 85 0 46 5 71 14 79 16 14 22 -2 52 -134 15
-71 16 -89 4 -160 -7 -44 -15 -98 -17 -120 l-5 -40 21 20 c31 27 43 6 39 -71
-3 -48 -10 -71 -33 -104 -28 -40 -28 -42 -12 -70 16 -26 16 -30 1 -44 -8 -9
-24 -16 -34 -16 -27 0 -29 -19 -7 -77 11 -29 17 -62 14 -75 -8 -28 -200 -253
-248 -289 -94 -72 -279 -146 -419 -169 -41 -6 -109 -19 -150 -27 -41 -9 -111
-19 -155 -23 -44 -4 -90 -11 -102 -15 -26 -8 -29 3 -8 31 14 18 21 84 10 84
-3 0 -27 -11 -53 -25 -26 -14 -52 -25 -59 -25 -16 0 -22 -21 -11 -48 11 -31 3
-42 -32 -42 -47 0 -59 -10 -108 -83 -99 -151 -155 -194 -567 -432 -176 -102
-256 -155 -302 -198 -55 -52 -72 -62 -155 -89 -70 -22 -124 -31 -223 -38 -170
-12 -443 -55 -575 -92 -61 -17 -154 -33 -220 -39 -63 -6 -152 -17 -197 -25
-73 -13 -85 -13 -122 2 -61 24 -82 14 -132 -63 -24 -38 -64 -96 -90 -129 -55
-71 -80 -118 -103 -195 -22 -70 -61 -121 -76 -99 -5 8 -8 22 -5 30 17 59 17
70 0 76 -42 16 -80 -77 -55 -136 16 -38 62 -65 88 -51 33 18 60 57 91 131 17
41 43 94 59 117 44 66 203 243 231 257 35 18 93 24 321 36 229 11 308 25 499
85 139 44 145 45 277 45 131 0 137 1 231 37 l96 37 41 -24 c109 -63 163 -82
367 -130 276 -65 344 -76 582 -91 349 -23 381 -9 614 268 138 164 188 234 227
317 42 88 146 360 217 566 42 124 61 163 90 195 88 96 163 243 199 390 37 153
43 211 45 445 2 149 8 275 18 345 9 61 21 198 27 305 12 209 30 364 55 460 22
86 75 244 84 253 4 4 16 -5 26 -20 57 -87 342 -440 520 -643 113 -129 215
-254 226 -277 12 -24 25 -72 29 -106 4 -35 15 -77 24 -94 19 -37 73 -73 110
-73 37 0 69 52 61 100 -32 196 -20 228 165 420 197 204 302 351 346 487 41
123 41 279 1 475 -33 159 -31 165 45 204 60 30 103 73 129 129 22 48 24 99 4
182 -16 68 -11 94 25 141 13 16 20 40 20 67 0 23 6 47 13 53 15 12 148 40 165
34 16 -5 15 -43 -3 -66 -23 -30 -19 -66 5 -66 32 0 76 26 175 103 49 38 109
78 133 88 23 10 42 22 42 27 0 14 -331 92 -391 92 -83 0 -93 -19 -34 -60 51
-35 56 -60 15 -72 -58 -16 -320 -50 -344 -44 -47 12 -56 41 -72 233 -7 98 -19
205 -25 238 -14 77 -58 191 -98 253 -44 69 -152 170 -244 228 -284 178 -387
255 -518 387 -99 100 -123 147 -114 221 6 47 4 57 -14 75 -38 38 -91 23 -110
-30 -29 -84 -2 -177 84 -289 72 -93 175 -173 400 -310 147 -89 212 -139 291
-221 119 -126 205 -266 239 -394 18 -66 30 -255 20 -323 -12 -83 -96 -140
-285 -197 -98 -29 -177 -32 -264 -9 -87 23 -189 22 -254 -5 -78 -31 -144 -36
-247 -16 -137 25 -289 65 -297 78 -21 33 -9 89 103 461 129 425 248 951 222
977 -16 16 -41 -1 -47 -29 -80 -421 -98 -501 -162 -724 -29 -104 -79 -284
-110 -400 -69 -257 -83 -284 -137 -257 -31 16 -77 60 -77 74 0 6 -20 35 -45
64 -72 84 -80 110 -33 97 14 -3 39 -30 62 -66 44 -69 89 -120 105 -120 25 0 7
44 -49 118 -127 170 -214 221 -347 207 -76 -8 -93 2 -93 54 0 46 -36 123 -85
181 -45 53 -59 84 -75 165 -7 33 -26 89 -44 125 -29 61 -31 71 -29 167 2 66
-4 149 -18 235 -11 73 -23 150 -26 170 -5 39 -47 88 -62 72 -5 -5 -3 -36 5
-74 17 -81 18 -187 1 -220 -7 -14 -29 -34 -49 -45 -20 -10 -43 -31 -52 -46
-20 -34 -21 -99 -1 -125 8 -10 15 -24 15 -29 0 -15 -70 -39 -79 -29 -4 5 -14
36 -21 69 -7 33 -17 68 -22 78 -9 18 -94 77 -110 77 -22 0 -3 -39 39 -82 42
-43 47 -53 54 -107 6 -53 12 -67 53 -112 48 -53 58 -77 29 -63 -10 4 -35 9
-56 12 -32 3 -41 10 -58 43 -21 41 -30 47 -47 27 -30 -39 -25 -57 32 -112 31
-29 56 -58 56 -64 0 -6 -11 -24 -25 -40 -14 -17 -28 -44 -31 -61 -4 -18 -13
-31 -21 -31 -10 0 -13 6 -9 16 3 9 9 40 12 70 6 44 3 58 -11 74 -21 24 -55 26
-55 5 0 -9 7 -29 15 -44 19 -38 1 -104 -41 -145 -23 -23 -34 -20 -45 14 -14
39 -42 39 -78 1 -22 -23 -31 -27 -45 -19 -24 13 -37 -6 -29 -43 7 -39 -6 -56
-83 -108 -46 -31 -70 -54 -72 -68 -4 -28 8 -29 42 -2 14 11 30 18 35 15 16
-10 -7 -68 -40 -102 l-32 -33 26 -10 c35 -14 34 -33 -4 -65 -45 -38 -139 -34
-139 6 0 4 14 8 30 8 38 0 38 12 -2 45 -29 25 -36 26 -92 20 -102 -11 -133
-23 -162 -60 -19 -25 -33 -34 -52 -32 -15 1 -29 -5 -36 -17 -6 -10 -19 -28
-28 -40 -17 -21 -17 -21 -18 11 0 59 -4 62 -89 56 -111 -8 -151 12 -232 114
-72 91 -89 126 -89 187 0 49 -11 64 -30 41 -22 -26 -8 -125 28 -198 29 -59 57
-90 146 -164 26 -21 26 -23 11 -47 -21 -31 -66 -47 -102 -36 -43 12 -186 97
-205 121 -11 12 -18 38 -18 60 0 42 -27 79 -57 79 -28 0 -82 37 -94 64 -16 33
13 116 53 155 20 20 40 56 53 98 35 106 13 120 -45 30 -16 -26 -36 -47 -45
-47 -18 0 -45 50 -45 85 0 26 2 26 41 20 46 -8 44 -13 23 54 -8 27 29 37 77
21 37 -12 40 -12 63 13 28 30 44 33 93 15 40 -15 53 -3 53 48 0 42 -19 48 -72
24 -24 -11 -58 -20 -76 -20 -32 0 -33 1 -27 33 7 38 -5 60 -28 51 -27 -10 -33
-52 -11 -69 18 -13 18 -15 2 -31 -11 -11 -39 -18 -87 -22 -79 -5 -101 5 -101
45 0 30 94 250 119 278 10 11 47 73 82 139 71 130 125 190 220 240 30 16 82
46 116 68 59 38 63 39 122 32 l61 -7 59 56 c76 73 107 79 234 48 53 -13 49 11
-7 44 -48 28 -125 40 -169 25z m3357 -995 c31 -29 80 -130 71 -145 -16 -26
-42 -6 -85 67 -25 43 -46 83 -48 90 -6 22 34 14 62 -12z m-4131 -266 c6 -21
-32 -101 -49 -106 -20 -6 -37 52 -29 99 10 62 23 74 51 47 12 -11 24 -29 27
-40z m586 -485 c13 -50 1 -80 -26 -69 -27 10 -64 -7 -78 -36 -29 -55 -74 -57
-132 -5 -36 31 -28 39 28 33 73 -9 111 10 150 72 17 28 34 51 39 51 4 0 13
-21 19 -46z m2021 -154 c20 -20 20 -20 0 -58 -43 -80 -69 -96 -46 -27 15 43
12 65 -10 65 -14 0 -43 -40 -85 -119 -25 -46 -49 -64 -49 -38 0 16 74 151 98
180 20 23 67 22 92 -3z m-290 -30 c-19 -12 -35 3 -26 26 6 17 8 17 24 0 15
-15 15 -18 2 -26z m92 28 c6 -16 -57 -163 -82 -196 -30 -37 -50 -49 -97 -57
-35 -5 -43 -4 -43 9 0 8 19 37 43 63 23 27 66 81 95 121 52 69 76 86 84 60z
m1665 -3 c2 -6 -10 -21 -27 -33 -26 -20 -31 -21 -36 -7 -4 9 2 25 12 36 18 20
45 22 51 4z m-1014 -29 c104 -17 162 -42 162 -71 0 -17 -15 -23 -108 -44 -117
-25 -154 -21 -164 19 -7 28 -15 25 -41 -15 -24 -37 -52 -47 -52 -17 0 25 28
113 41 128 14 18 52 18 162 0z m1173 -477 c11 -22 15 -51 13 -88 -6 -102 -1
-217 11 -261 32 -118 8 -211 -111 -440 -100 -191 -149 -262 -250 -363 -48 -49
-105 -111 -126 -138 -20 -27 -40 -49 -44 -49 -5 0 -29 28 -55 63 -26 34 -98
114 -159 178 -110 114 -206 228 -319 383 -32 44 -99 129 -148 190 -107 133
-165 230 -149 250 6 7 40 16 75 19 35 3 105 20 155 36 133 44 167 46 315 21
214 -37 289 -23 471 90 39 23 106 65 149 91 100 62 147 66 172 18z m138 -290
c21 -24 24 -34 15 -45 -18 -22 -37 -16 -54 16 -32 63 -6 83 39 29z m-1673
-205 c4 -38 12 -122 19 -187 11 -93 11 -120 1 -130 -19 -19 -41 19 -41 72 0
62 -14 84 -31 48 -10 -21 -9 -37 5 -87 15 -51 16 -73 7 -128 -6 -37 -13 -95
-17 -129 -3 -35 -9 -63 -12 -63 -3 0 -16 9 -28 21 l-22 21 -7 -41 c-11 -65
-22 -48 -28 42 -3 45 -9 94 -13 110 -9 37 11 35 35 -3 10 -16 21 -27 24 -23 4
3 7 65 7 136 0 78 6 151 14 186 8 31 20 90 26 131 20 123 51 136 61 24z m1676
44 c7 -17 5 -38 -10 -83 -22 -68 -33 -83 -46 -69 -8 8 8 118 24 162 7 19 21
14 32 -10z m-1872 -658 c-8 -54 -19 -68 -40 -50 -19 15 -21 110 -2 129 10 10
16 7 30 -11 15 -18 17 -32 12 -68z m-120 -11 c8 -12 7 -185 -1 -237 -7 -45
-33 -79 -46 -60 -4 7 -8 28 -8 46 0 21 -7 40 -19 50 -22 19 -36 90 -22 111 16
24 31 1 31 -47 0 -56 13 -83 31 -65 10 10 10 27 0 80 -7 38 -10 76 -7 86 4 9
8 24 11 32 5 17 21 20 30 4z m65 -165 c0 -11 -6 -28 -13 -38 -12 -16 -15 -16
-26 -3 -10 12 -9 23 4 53 13 31 18 36 25 24 5 -8 10 -24 10 -36z m1369 -55
c-20 -12 -22 -4 -8 23 12 21 13 21 17 4 2 -10 -2 -22 -9 -27z m-1 -193 l47
-44 -29 -13 c-27 -12 -30 -11 -57 19 -28 32 -40 82 -18 82 5 0 31 -20 57 -44z
m-1500 -1276 c4 -71 -4 -99 -95 -310 -123 -286 -167 -364 -290 -516 -129 -162
-250 -261 -352 -291 -47 -13 -62 -14 -105 -3 -30 8 -126 14 -232 15 l-180 2
-87 37 c-48 20 -124 52 -170 71 -59 24 -116 39 -193 49 -141 20 -169 28 -169
50 0 23 79 81 99 73 9 -4 16 -15 16 -25 0 -10 9 -27 21 -38 17 -16 22 -16 29
-4 5 8 9 36 8 62 -1 26 1 51 6 55 12 13 43 -32 49 -74 5 -28 14 -43 36 -56 58
-34 71 -22 63 59 -4 45 -1 54 25 85 17 19 38 48 47 66 12 25 29 37 74 53 41
15 101 54 193 127 74 58 146 111 161 119 15 8 53 14 84 14 119 0 174 37 235
157 70 139 94 153 256 153 143 0 199 13 336 79 56 27 109 49 117 48 11 -2 16
-17 18 -57z m-760 -173 c3 -20 -9 -38 -50 -82 -64 -65 -86 -69 -123 -21 -25
33 -26 36 -10 65 39 76 175 104 183 38z m-783 -487 c7 -11 -33 -128 -46 -136
-14 -8 -30 47 -23 79 10 46 53 82 69 57z" />
                <path d="M3136 7111 c-10 -11 -16 -30 -14 -43 3 -20 8 -23 48 -23 43 0 46 -2
71 -49 41 -75 63 -82 146 -41 86 41 78 61 -20 57 l-59 -3 -63 60 c-35 34 -70
61 -78 61 -7 0 -22 -9 -31 -19z" />
                <path d="M3522 7034 c-12 -8 -22 -19 -22 -24 0 -18 103 -110 148 -131 33 -17
51 -20 70 -13 38 14 51 40 30 61 -17 16 -20 16 -53 0 -36 -17 -36 -17 -60 9
-13 14 -27 39 -30 55 -6 25 -37 59 -55 59 -3 0 -16 -7 -28 -16z" />
                <path d="M3816 6943 c-3 -4 8 -22 26 -40 31 -32 31 -35 19 -68 -11 -30 -10
-42 4 -79 17 -44 17 -44 -10 -90 -32 -54 -30 -82 8 -110 26 -19 30 -19 54 -6
48 27 67 65 71 138 6 102 -10 148 -74 210 -49 48 -80 62 -98 45z m134 -235 c0
-47 -4 -62 -22 -80 l-23 -23 -3 22 c-2 12 2 31 7 42 6 11 11 46 11 78 1 53 2
56 15 39 9 -12 15 -42 15 -78z" />
                <path d="M2585 6816 c-73 -31 -62 -77 13 -56 33 8 52 25 52 45 0 16 -39 22
-65 11z" />
                <path d="M3536 6621 c-15 -16 -15 -19 5 -37 20 -18 21 -18 34 0 26 35 -10 69
-39 37z" />
                <path d="M2235 6514 c-17 -12 -17 -16 -5 -28 12 -12 19 -12 38 -2 22 12 22 13
5 28 -16 14 -20 15 -38 2z" />
                <path d="M3077 6449 c-21 -12 -56 -84 -57 -114 0 -11 11 -36 24 -55 23 -34 34
-42 106 -74 20 -9 44 -30 54 -46 23 -40 46 -38 82 8 52 65 52 66 5 58 -34 -5
-50 -2 -77 15 -19 11 -55 24 -82 28 l-47 7 1 47 c0 34 6 53 23 71 38 41 14 82
-32 55z" />
                <path d="M3540 6424 c0 -16 15 -45 35 -70 l36 -43 -13 -85 c-6 -47 -9 -88 -5
-92 14 -15 55 7 67 36 27 64 -18 213 -77 260 -34 27 -43 25 -43 -6z" />
                <path d="M3710 6363 c0 -5 6 -18 14 -29 17 -22 35 -11 20 13 -12 19 -34 29
-34 16z" />
                <path d="M2839 6283 c-13 -32 -5 -196 12 -256 21 -78 92 -127 184 -127 37 0
105 26 105 40 0 4 -19 14 -42 23 -37 15 -43 15 -58 2 -29 -26 -70 -18 -106 20
-58 62 -80 183 -49 270 19 53 19 55 -10 55 -19 0 -28 -8 -36 -27z" />
                <path d="M3335 6140 c-16 -17 -15 -20 6 -49 l23 -31 22 21 c26 24 23 41 -11
63 -21 14 -24 13 -40 -4z" />
                <path d="M2292 6087 c-25 -27 -28 -47 -8 -47 17 0 58 54 49 64 -11 10 -19 7
-41 -17z" />
                <path d="M2699 5972 c-19 -16 -23 -31 -27 -103 -6 -120 8 -162 74 -227 30 -29
54 -57 54 -62 0 -13 -46 -24 -96 -24 -45 1 -96 30 -116 67 -7 12 -15 50 -19
84 -7 70 -45 133 -80 133 -24 0 -24 -5 0 -72 11 -29 22 -69 25 -89 12 -72 92
-158 161 -173 17 -3 62 0 100 9 39 8 94 15 123 15 48 0 55 3 69 28 14 25 26
30 90 41 40 7 80 20 89 28 15 15 12 19 -32 41 -31 16 -50 20 -52 13 -2 -6 -11
-20 -21 -32 l-17 -21 -43 45 c-23 24 -53 50 -66 57 -31 17 -47 55 -39 95 3 18
3 43 -1 55 -7 22 -7 22 -36 -6 l-28 -27 -12 27 c-14 31 -33 29 -37 -4 -9 -57
56 -164 139 -230 l51 -40 -36 0 c-51 0 -152 79 -186 145 -30 59 -33 129 -7
193 9 23 17 45 17 47 0 10 -19 4 -41 -13z" />
                <path d="M3220 5945 c-25 -30 10 -61 38 -33 7 7 8 17 1 30 -12 22 -23 23 -39
3z" />
                <path d="M2189 5831 c-71 -74 -78 -151 -13 -151 32 0 37 14 18 52 -18 35 -17
37 60 91 33 23 35 57 4 57 -13 0 -41 -20 -69 -49z" />
                <path d="M3225 5827 c-50 -28 -56 -57 -19 -92 31 -29 69 -28 92 2 19 26 15 33
-18 33 -36 0 -37 2 -5 34 49 49 19 62 -50 23z" />
                <path d="M2250 5750 c-15 -28 5 -57 26 -39 18 15 18 33 0 48 -12 10 -17 8 -26
-9z" />
                <path d="M3761 5662 c-61 -20 -83 -34 -132 -83 -56 -56 -76 -99 -46 -99 8 0
24 12 38 26 29 32 66 51 133 71 58 17 128 51 138 66 11 18 -11 47 -35 46 -12
-1 -55 -13 -96 -27z" />
                <path d="M2304 5616 c-3 -14 3 -44 17 -75 17 -40 35 -61 77 -91 53 -38 92 -51
92 -30 0 5 -13 16 -29 24 -42 22 -89 80 -102 128 -6 24 -13 49 -15 56 -6 21
-33 13 -40 -12z" />
                <path d="M3831 5541 c-6 -11 -11 -38 -11 -60 0 -46 -14 -60 -39 -37 -10 9 -25
16 -34 16 -24 0 -65 -21 -71 -36 -8 -20 37 -46 87 -51 35 -4 49 0 84 26 44 32
58 67 51 127 -2 23 -9 30 -30 32 -18 2 -30 -3 -37 -17z" />
                <path d="M4130 5438 c-52 -55 -60 -75 -35 -84 18 -7 91 34 124 70 24 25 24 26
6 46 -27 30 -40 25 -95 -32z" />
                <path d="M4512 5458 c-15 -20 -42 -76 -42 -88 0 -6 10 -10 22 -8 25 3 69 73
61 95 -6 16 -27 17 -41 1z" />
                <path d="M765 5285 c-71 -7 -220 -18 -330 -24 -296 -17 -305 -18 -305 -44 0
-23 39 -55 95 -78 21 -9 115 -14 313 -17 155 -2 282 -7 282 -12 0 -9 -15 -13
-295 -65 -207 -38 -293 -59 -308 -74 -17 -17 0 -38 47 -61 112 -54 211 -61
462 -34 83 9 164 14 179 10 25 -6 27 -9 13 -23 -9 -8 -45 -21 -82 -29 -36 -7
-93 -27 -125 -44 -33 -16 -131 -52 -218 -80 -202 -66 -205 -67 -201 -87 4 -23
106 -72 190 -90 83 -17 206 -14 406 12 67 9 128 15 134 13 6 -2 -58 -44 -143
-92 -85 -49 -165 -96 -179 -104 l-25 -16 30 -8 c17 -5 84 -10 150 -10 103 -1
132 2 209 25 164 50 178 30 49 -68 -143 -108 -139 -119 44 -113 116 3 133 6
180 31 60 31 63 32 63 13 0 -8 -18 -29 -40 -46 -39 -31 -52 -59 -27 -61 42 -3
92 6 168 32 48 16 89 29 93 29 16 0 3 -49 -19 -70 -27 -26 -33 -60 -11 -60 8
0 45 14 83 31 120 55 172 69 249 69 40 0 75 -4 78 -9 3 -5 -8 -25 -24 -46 -42
-53 -140 -210 -140 -224 0 -25 27 -2 116 100 50 57 98 105 107 107 31 6 18
-32 -43 -122 -33 -49 -60 -95 -60 -102 0 -8 11 -14 24 -14 26 0 68 49 179 204
38 53 53 67 70 64 36 -5 31 -34 -27 -143 -31 -57 -56 -113 -56 -124 0 -11 11
-28 25 -37 22 -15 27 -15 48 -1 13 8 43 40 67 70 67 83 100 90 63 13 -13 -25
-19 -53 -16 -66 5 -20 8 -20 45 17 36 34 39 35 32 13 -27 -85 8 -104 68 -36
38 42 68 59 68 37 0 -4 9 -20 20 -34 20 -25 22 -25 58 -13 34 12 41 11 86 -11
57 -29 81 -25 130 17 18 17 36 30 39 30 10 0 209 -234 224 -263 17 -34 52
-189 53 -233 0 -21 -12 -46 -35 -75 -57 -71 -87 -211 -49 -226 24 -9 33 7 45
76 14 78 36 103 87 101 69 -3 72 -2 72 30 0 20 -13 47 -40 81 -22 28 -42 66
-45 87 -14 82 -37 157 -57 191 -13 20 -56 72 -97 115 -88 95 -130 159 -181
275 -63 140 -83 235 -84 391 0 102 4 152 18 205 22 85 64 178 105 239 35 51
38 66 13 66 -51 0 -129 -137 -162 -286 -10 -47 -24 -92 -31 -100 -29 -35 -156
-84 -251 -97 -40 -6 -68 11 -68 39 0 28 -28 69 -68 99 -23 17 -45 40 -51 52
-7 15 -8 80 -4 180 9 226 1 240 -207 394 -81 60 -118 72 -300 100 -175 27
-768 36 -975 14z m105 -54 c26 -10 46 -24 48 -34 3 -16 -13 -17 -197 -17 -128
0 -202 4 -206 10 -14 22 18 38 103 49 48 6 98 13 112 15 35 5 87 -4 140 -23z
m580 19 c280 -25 451 -63 540 -121 72 -46 80 -62 50 -94 -43 -46 -71 -43 -194
19 -80 41 -126 58 -166 62 -72 7 -107 21 -113 45 -8 29 -37 35 -232 48 -171
11 -224 23 -193 42 18 12 170 11 308 -1z m-27 -486 c3 -4 0 -16 -8 -28 -23
-31 -19 -35 38 -38 38 -2 52 -7 52 -18 0 -18 -64 -56 -130 -75 -64 -19 -140
-2 -140 30 0 16 11 22 56 31 30 6 64 16 75 22 18 10 18 11 1 18 -10 4 -46 4
-80 0 -34 -4 -145 -13 -247 -20 -102 -7 -222 -21 -266 -31 -77 -17 -134 -15
-134 4 0 21 108 42 329 66 130 14 270 29 311 34 98 11 135 12 143 5z m-406
-140 c5 -14 -187 -48 -217 -39 -19 6 -20 9 -8 21 27 27 217 42 225 18z m581
-22 c6 -19 -70 -59 -176 -91 -56 -18 -114 -43 -131 -56 -38 -33 -71 -33 -71
-1 0 19 13 32 58 60 73 44 96 53 207 81 95 25 107 25 113 7z m-493 -132 c15
-24 -42 -58 -133 -78 -94 -22 -125 -21 -115 4 17 46 227 108 248 74z m389 -59
c9 -13 -43 -53 -128 -100 -85 -48 -106 -51 -106 -17 0 31 55 69 146 100 81 29
81 29 88 17z m841 -340 c8 -26 -8 -62 -45 -105 -32 -36 -60 -47 -60 -23 0 15
47 116 62 134 15 19 36 16 43 -6z m165 -62 c4 -14 -2 -44 -13 -71 -19 -45 -38
-60 -52 -38 -5 8 20 112 32 133 9 14 27 1 33 -24z m106 -14 c6 -26 -33 -95
-54 -95 -11 0 -12 10 -7 43 11 65 22 87 40 81 8 -4 18 -16 21 -29z" />
                <path d="M5146 4921 c-19 -20 -14 -41 8 -41 18 0 49 37 41 49 -10 17 -30 13
-49 -8z" />
                <path d="M3086 4567 c-22 -16 -12 -45 18 -52 11 -3 43 -10 70 -15 28 -6 81
-25 119 -41 38 -17 71 -28 74 -26 14 14 -14 52 -62 83 -84 56 -181 79 -219 51z" />
                <path d="M4204 3364 c-4 -14 -2 -30 5 -37 8 -8 11 -1 11 26 0 43 -7 48 -16 11z" />
                <path d="M2389 3355 c-76 -27 -108 -52 -230 -171 -131 -129 -171 -154 -239
-154 -93 0 -221 95 -202 150 3 8 21 33 41 55 l36 40 -29 3 c-55 7 -118 -84
-97 -141 33 -87 227 -163 350 -136 72 15 108 43 171 134 31 44 63 81 73 83 21
4 22 -16 2 -42 -8 -11 -15 -28 -15 -38 0 -16 10 -17 83 -16 137 1 159 -17 177
-152 6 -47 17 -111 25 -143 8 -33 13 -63 10 -67 -3 -5 -42 -35 -86 -66 -44
-31 -106 -80 -138 -110 -96 -89 -215 -249 -271 -367 -31 -64 -74 -135 -111
-179 -67 -82 -133 -205 -144 -268 -9 -52 -28 -60 -63 -27 -83 80 -276 76 -443
-8 -164 -82 -267 -168 -401 -335 -24 -30 -64 -70 -88 -88 -38 -30 -49 -33 -84
-28 -125 19 -180 18 -240 -4 -114 -43 -155 -103 -172 -255 -3 -33 -22 -108
-41 -167 -39 -118 -40 -165 -3 -226 26 -43 60 -43 93 0 43 54 15 78 -36 31
l-30 -28 6 80 c3 44 17 121 31 170 87 309 130 369 258 363 l63 -3 -3 -38 c-3
-34 -1 -37 22 -37 16 0 32 10 45 29 12 16 45 43 75 60 51 29 78 55 198 201
134 161 322 260 524 277 132 11 206 -17 219 -84 17 -80 13 -75 39 -58 24 16
47 69 85 200 23 78 71 164 135 239 78 93 124 161 149 220 34 82 137 224 232
321 64 65 92 86 138 103 79 30 90 28 127 -18 l32 -40 76 0 c104 1 148 12 277
73 104 49 114 52 190 52 44 0 135 -4 202 -9 103 -8 129 -6 165 7 24 9 82 27
130 42 85 25 116 44 103 65 -12 19 -74 10 -171 -25 -111 -40 -161 -43 -299
-19 -111 20 -178 14 -270 -25 -66 -27 -79 -29 -235 -32 -142 -4 -165 -2 -165
11 0 8 23 28 52 43 56 30 106 36 184 23 39 -7 57 -4 112 18 72 29 122 32 252
17 147 -17 259 -22 275 -11 26 17 -4 27 -110 33 -54 3 -146 18 -203 32 -117
28 -119 28 -219 -30 -67 -40 -93 -43 -108 -16 -14 27 -15 26 35 55 52 31 75
64 54 77 -20 13 -19 13 -135 -38 l-107 -47 -19 24 c-16 20 -18 33 -12 91 5 50
2 87 -11 140 -16 62 -25 80 -64 119 -72 72 -167 97 -252 65z m182 -60 c50 -26
76 -73 98 -177 32 -147 27 -227 -16 -255 -19 -12 -29 -13 -48 -5 -29 13 -40
50 -54 190 -6 56 -18 116 -26 131 -19 37 -61 71 -89 71 -30 0 -50 16 -43 34
14 35 117 42 178 11z" />
                <path d="M348 552 c-16 -9 -28 -20 -28 -23 0 -13 103 -129 115 -129 18 0 95
70 95 86 0 27 -30 27 -59 0 -46 -44 -74 -31 -61 29 13 57 -10 70 -62 37z" />
              </g>
            </svg>
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="720.000000pt" height="685.000000pt"
              viewBox="0 0 720.000000 685.000000" preserveAspectRatio="xMidYMid meet">

              <g transform="translate(0.000000,685.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                <path d="M6432 5203 c-13 -3 -39 -22 -59 -43 l-36 -38 -37 39 c-32 34 -43 39
-82 39 -50 0 -84 -28 -107 -87 -23 -57 -1 -95 127 -221 64 -62 119 -109 122
-105 3 5 30 38 59 74 29 36 66 76 82 88 47 35 69 79 69 137 0 40 -5 57 -25 78
-22 24 -67 48 -83 45 -4 -1 -17 -4 -30 -6z" />
                <path d="M5821 4515 c-33 -49 -25 -109 21 -149 80 -70 96 -85 120 -116 l25
-33 42 57 c23 31 53 63 66 72 36 23 65 76 65 116 0 80 -102 120 -152 59 l-24
-28 -32 28 c-48 43 -99 40 -131 -6z" />
                <path d="M6708 4356 c-56 -56 -44 -94 64 -200 73 -73 81 -78 91 -60 6 10 39
49 74 85 59 61 63 69 63 112 0 37 -5 49 -26 66 -36 28 -66 26 -104 -5 l-31
-27 -22 22 c-38 34 -78 37 -109 7z" />
                <path d="M6185 4033 c-19 -21 -25 -39 -25 -71 0 -42 4 -48 91 -133 51 -49 95
-89 98 -89 3 0 26 25 51 55 25 31 56 62 68 71 13 9 33 35 43 59 18 40 18 47 5
79 -27 64 -102 77 -151 26 l-28 -29 -27 29 c-38 40 -89 41 -125 3z" />
                <path d="M1490 3930 c-36 -36 -26 -70 39 -134 l60 -59 48 53 c68 74 74 89 57
122 -18 35 -46 43 -84 23 -27 -14 -33 -14 -52 0 -30 20 -44 19 -68 -5z" />
                <path d="M5094 3765 c-24 -37 -11 -68 53 -129 l57 -54 53 56 c65 71 73 95 42
128 -26 28 -55 31 -80 8 -17 -15 -20 -15 -43 0 -36 23 -63 20 -82 -9z" />
                <path d="M1086 3625 c-28 -43 -20 -67 44 -129 l60 -59 55 59 c62 68 72 111 33
138 -29 20 -47 20 -70 -1 -18 -16 -21 -16 -47 0 -39 23 -56 21 -75 -8z" />
                <path d="M5537 3628 c-9 -7 -20 -28 -23 -45 -6 -30 -1 -38 63 -105 l70 -71 61
64 c51 54 61 70 62 100 0 61 -59 91 -102 52 -18 -16 -21 -16 -47 0 -34 20 -61
22 -84 5z" />
                <path d="M1846 3605 c-9 -13 -16 -30 -16 -38 0 -15 119 -140 129 -135 17 7 91
97 100 121 11 28 5 57 -13 69 -18 12 -61 9 -81 -6 -16 -11 -21 -11 -33 0 -22
23 -68 17 -86 -11z" />
                <path d="M6033 3500 c-28 -11 -43 -40 -43 -82 1 -27 14 -47 82 -117 72 -76 81
-83 91 -66 5 11 36 47 68 81 32 35 61 74 65 89 9 37 -13 82 -47 94 -34 12 -55
6 -87 -23 l-24 -21 -17 21 c-20 25 -58 35 -88 24z" />
                <path d="M3912 3420 c-38 -35 -29 -69 36 -136 l59 -60 56 56 c48 47 57 62 57
92 0 37 -24 68 -52 68 -9 0 -26 -9 -39 -19 -23 -19 -24 -19 -48 0 -30 24 -42
24 -69 -1z" />
                <path d="M4642 3424 c-16 -11 -22 -25 -22 -52 0 -32 8 -45 54 -89 30 -29 59
-53 64 -53 5 0 18 12 27 27 10 15 30 37 45 50 46 39 46 98 -1 123 -16 9 -27 7
-53 -8 -32 -19 -33 -19 -55 -1 -28 23 -31 23 -59 3z" />
                <path d="M2616 3285 c-40 -41 -30 -72 51 -149 l48 -46 52 58 c62 67 69 83 51
119 -16 34 -50 41 -84 18 -22 -14 -27 -14 -46 0 -28 19 -52 19 -72 0z" />
                <path d="M2121 3124 c-12 -15 -21 -30 -21 -35 0 -21 27 -58 75 -102 l53 -48
51 53 c28 29 54 63 57 76 16 57 -42 100 -91 68 -23 -15 -28 -15 -47 -1 -32 22
-54 19 -77 -11z" />
                <path d="M4237 3133 c-15 -18 -20 -35 -18 -65 0 -9 27 -43 60 -75 l58 -58 57
63 c61 68 69 99 36 132 -25 25 -47 25 -72 3 -19 -17 -21 -17 -50 0 -37 21 -51
21 -71 0z" />
                <path d="M5122 3098 c-7 -7 -12 -28 -12 -47 0 -30 9 -45 57 -93 l56 -57 53 55
c62 63 73 93 50 129 -19 29 -60 33 -88 8 -17 -15 -19 -15 -36 0 -22 20 -63 22
-80 5z" />
                <path d="M3362 3024 c-15 -10 -22 -25 -22 -47 0 -26 11 -44 59 -91 l60 -59 48
53 c59 64 67 81 59 115 -10 38 -48 52 -81 31 -25 -16 -29 -16 -60 -2 -40 19
-36 19 -63 0z" />
                <path d="M2874 2902 c-19 -12 -35 -52 -30 -70 3 -10 33 -44 67 -77 58 -58 61
-59 75 -40 8 11 30 36 49 56 45 47 55 89 26 118 -25 25 -49 27 -79 5 -20 -14
-24 -14 -44 0 -24 17 -47 20 -64 8z" />
                <path d="M3890 2703 c-8 -3 -18 -11 -22 -17 -5 -8 -13 -7 -28 2 -27 17 -75 15
-90 -3 -26 -32 -14 -65 46 -126 32 -33 61 -58 64 -57 23 10 110 122 110 141 0
42 -43 74 -80 60z" />
                <path d="M6570 18 c0 -10 42 -13 175 -13 133 0 175 3 175 13 0 9 -42 12 -175
12 -133 0 -175 -3 -175 -12z" />
              </g>
            </svg>
          </div>

          <p class="empty-favorites__text">
            ¡Aún no tienes favoritos!
          </p>
          <a href="/" class="btn-explorar">
            Explorar propiedades
          </a>
        </div>
        <% }else{ %>
           <div class="header-favoritos">
              <h1 class="titulo">Favoritos</h1>
              <button type="button" id="limpiarFavoritos">Limpiar Favoritos</button>
            </div>
          <div class="contenedor-propiedades">
           

            <% propiedadesFavoritas.forEach(prop=> { %>
              <div class="tarjeta-propiedad">
                <img src="<%= prop.imagenes[0] %>" alt="Imagen propiedad" class="imagen-propiedad" />
                <div class="info-propiedad">
                  <h2>
                    <%= prop.tipo.toUpperCase() %> en <%= prop.direccion %>
                  </h2>
                  <p class="precio">€ <%= prop.precio.toLocaleString('es-ES') %>
                  </p>
                  <p class="fecha-publicacion">
                    Publicado el <%= new Date(prop.fecha_publicacion).toLocaleDateString('es-ES', { day: 'numeric' ,
                      month: 'long' , year: 'numeric' }) %>
                  </p>
                  <p>
                    <%= prop.numero_habitaciones %> habitaciones • <%= prop.numero_baños %> baños • <%= prop.superficie
                          %> m²
                  </p>
                  <p class="descripcion">
                    <%= prop.descripcion.slice(0, 120) %>...
                  </p>
                  <a href="/propiedad/detalles/<%= prop._id %>" data-id="<%= prop._id %>" class="boton-ver">Ver
                    detalle</a>
                </div>
              </div>
              <% }) %>
          </div>
          <% } %>
    </main>




    <% include componentes/footer %>
      <script defer src="/javascripts/like.js"></script>
      <script defer src="/javascripts/propiedadDetalle.js"></script>
      <script defer src="/javascripts/limpiarFavoritos.js"></script>

</body>

</html>